@font-face {
    font-family: "Project Font";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Project Font", Arial, sans-serif;
    line-height: 1.6;
}


nav {
    background-color: #4a4e69;
    height: 60px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
    height: 100%;
}


nav li {
    color: #ffffff;
    text-decoration: none;
}


nav li.logo {
    margin-right: auto;
}


nav li:not(.logo) {
    margin-left: 25px;
}


nav a {
    text-decoration: none;
    color: #ffffff;
}


nav a:hover {
    color: #dcdcdc;
    transition: color 0.3s ease;

}


main {
    background-image: url('img/bg-seamless-1.webp');
    background-position: top left;
    background-repeat: repeat;
    background-size: 500px;
    height: 865px;
    padding: 30px;
}


.contact-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}


.contact-form input,
  .contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.4rem;
  }


input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 0.4rem;
    border-radius: 8px;
    border: 2px solid #4a4e69;
  }


  .name-email {
    display: flex;
    gap: 1rem;
  }


  .name, .email {
    width: 100%;
  }


  button {
    width: 150px;
    padding: 0.5rem;
    color: white;
    border: none;
    background-color: #4a4e69;
    border-radius: 8px;
    cursor: pointer;
  }


  .map {
    border: 2px solid #4a4e69;
    border-radius: 12px;
    margin-top: 1rem;
  }


  .map iframe {
    border: none;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 300px;
  }


  footer {
    background-color: #4a4e69;
    color: white;
    height: 60px;
    text-align: center;
    padding: 16px;
    margin-top: -55px;
}